	<section id="blog" class="parallax-section">

		<div class="container">
			
			<div class="row">
				<div class="col-sm">
					<div class="blog-featured">
						<p class="blog-fcat">INTRODUCTION</p>
						
						<a href="#">
							<h3 class="blog-ftitle">How I climbed Carrer Ladder & Advanced in Life</h3>
						</a>

						<div class="blog-meta">
					
							<span class="blog-author-date">
								<span><a href="https://roydenrego.com" class="blog-author">Royden Rego</a></span>,
								<a href="https://gillion.shufflehound.com/clean/2017/01/31/how-i-climbed-career-ladder-advanced-in-life/" class="blog-date">2 years ago</a>
							</span>
	
							<span class="blog-readtime">
								<i class="icon icon-clock"></i>1 min <span>read</span>
							</span>

						</div>

						<a href="#">
							<div class="blog-fimage" style="background-image: url(https://placehold.it/1024x720);">
								<img src="https://placehold.it/1024x720"/>
							</div>
						</a>

						<div class="blog-footer">
							<p class="blog-fdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tellus vitae orci lacinia scelerisque id congue odio. Integer in urna eu ligula ultricies tincidunt.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>